
footer {
    padding:30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $background;

    p {
        color: #fff;
    }

}